*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  /* background-image: url("../img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat; */
}

html,
body {
  min-width: 1200px;
}

a {
  text-decoration: none;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-navigation {
  display: flex;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.main-header {
  position: relative;
}

.main-header-logo {
  width: 140px;
  height: 71px;
  position: absolute;
  left: 50%;
  margin-left: -70px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
  padding-left: 72px;
  padding-right: 72px;
  list-style: none;
}

.site-navigation a {
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;
  color: #000000;
}

.site-navigation li {
  width: 239px;
  height: 56px;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.menu-info:hover,
.menu-photo:hover,
.menu-map:hover,
.menu-hotels:hover {
	color: #81b3d2;
}

.menu-info:active,
.menu-photo:active,
.menu-map:active,
.menu-hotels:active {
	color: rgba(0, 0, 0, 0.3);
}

.menu-hotels.active {
  color: #766357;
}

.main-filter {
  background-image: url("../img/background-filter.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 31px;
  padding-bottom: 35px;
  padding-right: 74px;
  margin: 0;
}

.filter {
  display: flex;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #ffffff;
}

fieldset.infostructure {
  margin-left: 72px;
}

fieldset.type-housing {
  margin-left: 115px;
}

fieldset.cost-day {
  margin-left: auto;
}

.filter-input:hover+label {
  color: #ffffff;
}

.filter-input:disabled+label {
  color: #6a6a6a;
}

.filter-button {
	font: inherit;
	color: #ffffff;
	background-color: transparent;
	border: 2px solid #ffffff;
}

.filter-button:hover {
	color: #000000;
	background-color: #ffffff;
}

.found-hotels {
  display: flex;
  padding-top: 31px;
  padding-bottom: 33px;
  padding-left: 72px;
  padding-right: 73px;
}

.found-list {
  list-style: none;
}

.found-item {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.found-sorting {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.found-list a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.found-list a:hover {
	color: #81b3d2;
}

.found-list a:active {
  color: #000000;
  border: none;
}

a.sorting {
  border: none;
}

.sorting.active {
  color: #81b3d2;
  opacity: 1;
}

.arrow-top,
.arrow-bottom {
  color: #cacaca;
}

.arrow-top,
.arrow-bottom:hover {
	color: #231f20;
}

.arrow-top,
.arrow-bottom:active {
	color: #81b3d2;
}

.arrow-bottom.active {
  color: #81b3d2;
}

.catalog-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-found {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 72px;
  padding-left: 72px;
}

.container-description {
  margin-left: 30px;
}

a.catalog-description {
  display: block;
}

.catalog-item {
  display: block;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.rating-star {
  margin-left: auto;
}

.catalog-item:hover {
  color: #81b3d2;
}

.catalog-item:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-details {
	font: inherit;
	font-weight: 700;
  background-color: #81b3d2;
  color: #ffffff;
}

.button-details:hover {
  background-color: #669ec0;
}

.button-details:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-book {
	font: inherit;
	font-weight: 700;
  background-color: #766357;
  color: #ffffff;
}

.button-book:hover {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.rating {
	text-align: center;
	color: #666666;
	background-color: #f2f2f2;
}

.page-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
	text-align: center;
	color: #000000;
}

.advantages-title {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item.advantages-item-blue {
  min-height: 256px;
  padding-left: 60px;
  padding-right: 60px;
}

.advantages-list .advantages-item-blue.bridge {
  order: 2;
}

.advantages-item {
  width: 400px;
  min-height: 330px;
  text-align: center;
}

.advantages-subtitle-white {
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  padding-top: 46px;
  margin-top: 0;
  margin-right: 50px;
  margin-left: 50px;
}

.advantages-subtitle-black {
  position: relative;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding-top: 161px;
}

.advantages-subtitle-black.house::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  width: 75px;
  height: 72px;
  margin-left: -37.5px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages-subtitle-black.food::before {
  content: "";
  position: absolute;
  top: 62px;
  left: 50%;
  width: 74px;
  height: 70px;
  margin-left: -37px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages-subtitle-black.gifts::before {
  content: "";
  position: absolute;
  top: 56px;
  left: 50%;
  width: 64px;
  height: 76px;
  margin-left: -32px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages-descr {
  margin-top: 31px;
}

.advantages-item-blue {
  background-color: #81b3d2;
  color: #ffffff;
}

.appointment-title {
  text-align: center;
}

.appointment-title h2 {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.appointment-title p {
  line-height: 24px;
}

.appointment {
  text-align: center;
}

.appointment-item {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.search-hotels {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #766357;
  text-transform: uppercase;
  border: none;
}

.search-hotels:hover {
  background-color: #604e43;
}

.search-hotels:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.appointment-item input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.appointment-item input::placeholder {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000; 
	text-transform: uppercase;
}

.appointment-item input:hover {
  background-color: #ebebeb;
}

.appointment-item input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.appointment-item button {
  background-color: #a9a9a9;
  border: none;
}

.appointment-item button:hover {
  background-color: #000000;
}

.appointment-item button:active {
  background-color: #81b3d2;
}

.button-blue {
	font: inherit;
	font-size: 21px;
	line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.button-blue:hover {
  background-color: #669ec0;
}

.button-blue:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  display: flex;
  min-height: 120px;
  padding: 36px 0;
  color: #000000;
  background-color: #ffffff;
  opacity: 0.9;
}

.main-footer a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-contacts {
  width: 400px;
  margin: 0;
  text-align: center;
}

.footer-social {
  width: 400px;
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  width: 400px;
  background-color: #81b3d2;
  color: #ffffff;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.footer-copyright {
  width: 400px;
  margin: 0;
  text-align: center;
}

.footer-copyright span {
  font-size: 14px;
  font-weight: 400;
}




